/* .product-card {
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1rem;
    color: #6c757d;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
   */